@import "../../styles/const.scss";

.input {
  background-color: inherit;
  border: 1px solid $medical-black;
  margin: 0 1em;
  padding: 0.5em;
  text-shadow: $medical-text-shadow;
}

.input:invalid {
  text-decoration: none;
}
