@import "../../styles/const.scss";

.button {
  border: none;
  color: $medical-white;
  background-color: $medical-black;
  padding: 0.5em;
  box-shadow: $medical-text-shadow;
  cursor: pointer;
}

.button:hover {
  //   background-color: black;
}
